#{extends 'Admin/layout.html' /}
#{set title:'Biton Blog Engine' /}

<div class="new-post">
  <h2>&{'NewCategory'}</h2>
  #{form @createCategory(category?.id)}
    #{if flash.error}
	<p class="error">
	 &{flash.error}
	</p>
    #{/if}
	#{if flash.success}
	<p class="success">
	 &{flash.success}
	</p>
  #{/if}
		
  <p>
    <label>&{'Title'}</label>
    <input type="text" id="title" name="title" size="40" value="${flash.title ? flash.title : category?.title}"/>
  </p>
  
  <p>
	<label for="description">&{'Description'}</label>
	<textarea name="description" rows="5" cols="50">
	  ${flash.description ? flash.description : category?.description}
	</textarea>
  </p>
  
  <p class="button">
	<input class="submit" type="submit" value="&{'Save'}" />
  </p>
  #{/form}
</div>
