#{form @Blog.createComment()}		
<p>
  <label>&{'Your name'}</label>
  <input type="text" id="author" name="author" size="40" value="${flash.author}"/>
</p>
  
<p>
  <label for="content">&{'Comment'}</label>
  <textarea name="content" rows="4" cols="60">${flash.content}</textarea>
</p>

<input type="hidden" name="postId" value="${_post?.id}"/>
<input type="hidden" name="url" value="${_post?.url}"/>

<p>
  <label for="code">&{'CaptchaMessage'} </label>
  <img src="@{Blog.showCaptcha(_randomID)}" />
  <input type="text" name="code" id="code" size="18" value="" />
  <input type="hidden" name="randomID" value="${_randomID}" />
</p>
  
<p class="button">
  <input class="submit" type="submit" value="&{'Submit'}">
</p>
#{/form}
